html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.3rem;
  height: 100%;
}

h1 {
  padding: 10px;
  margin: 0 auto;
  font-size: 4rem;
}

h2 {
  padding: 10px;
  margin: 0 auto;
  font-size: 3.2rem;
}

h3 {
  padding: 10px;
  margin: 0 auto;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: lightgray;
}

p {
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem;
}
span {
  font-size: 1.5rem;
}
.App {
  text-align: center;
  height: 100%;
  color: #282c34;
}
.dark-mode {
  color: white;
}

.dark-mode-background {
  background-color: #282c34;
}

#App-header {
  padding-top: 20px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.menu-modal {
  opacity: 1;
  padding-left: 20px;
}

.image {
  align-self: center;
  max-width: 50vw;
  transition: all 0.3s ease;
  height: 100%;
  position: relative;
}

.icon {
  margin-right: 10px;
}

.footer-icons > * {
  margin-right: 30px;
}
.linkedin-icon {
  margin: 0;
}

.mail-icon:hover {
  color: rgb(17, 106, 141);
}
.github-icon:hover {
  color: black;
}

.linkedin-icon:hover {
  color: rgb(26, 101, 212);
}

.footer-container {
  padding-top: 20px;
  text-align: center;
  border-top: 2px solid white;
}

.even-styles {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.odd-styles {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.proj-title {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 10px auto;
  align-items: center;
}

.overlay-text {
  position: relative;
  /* bottom: 20%;
  right: 50%; */
  top: -30vh;
  opacity: 1;
  /* z-index: 5; */
}

.show-overlay {
  opacity: 0.3;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 750px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 3.3rem;
  }
  h2 {
    font-size: 2.7rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  .button-container {
    width: 90vw;
  }
  .image {
    max-width: 65vw;
  }

  .button-names {
    display: none;
  }

  .proj-title {
    width: 80vw;
  }
}

@media (max-width: 550px) {
  .image {
    max-width: 80vw;
  }
}
