html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
}

h1 {
  padding: 10px;
  margin: 0 auto;
  font-size: 4rem;
}

h2 {
  padding: 10px;
  margin: 0 auto;
  font-size: 3.2rem;
}

h3 {
  padding: 10px;
  margin: 0 auto;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: gray;
}

p {
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem;
}
span {
  font-size: 1.5rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  max-width: 50vw;
}

.icon {
  margin-right: 10px;
}

.icons-container {
  margin-bottom: 10px;
}

.footer-container {
  padding: 20px;
  background-color: #69868c;
  color: #f2f2f2;
  text-align: center;
}

.even-styles {
  background-color: #282c34;
}

.odd-styles {
  background-color: #69868c;
}
