/* @import url('https://fonts.googleapis.com/css?family=Press+Start+2P'); */

@import '~react-typist/dist/Typist.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
	font-size: 62.5%;
	height: 100%;
	width: 100%;
}

body {
	font-size: 1.4rem;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	/* font-weight: 300; */
	letter-spacing: 0.6px;
}

h1 {
	padding: 10px;
	margin: 0 auto;
	font-size: 4.2rem;
}

h2 {
	padding: 10px;
	margin: 0 auto;
	font-size: 3.5rem;
}

h3 {
	padding: 10px;
	margin: 0 auto;
	font-size: 2.5rem;
}

h4 {
	padding: 10px;
	margin: 0 auto;
	font-size: 2.2rem;
}

a {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: lightgray;
}

p {
	font-size: 1.7rem;
	margin: 0;
	padding: 1rem;
	line-height: 25px;
}
span {
	font-size: 1.7rem;
}
.App {
	text-align: center;
	height: 100%;
	color: #282c34;
}
.dark-mode {
	color: white;
}

.dark-mode-background {
	background-color: #282c34;
}

#App-header {
	/* padding-top: 20px; */
	/* min-height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.header {
	height: 0;
}

.intro-container {
	/* font-family: 'Press Start 2P', cursive; */
	min-height: 100vh;
}

.typed-links {
	text-decoration: underline;
	color: inherit;
}
.button-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 80vw;
	align-items: center;
}

.App-link {
	color: #61dafb;
}

.menu-modal {
	opacity: 1;
	padding-left: 20px;
}

.image {
	align-self: center;
	/* max-width: 50vw; */
	width: 80%;
	transition: all 0.3s ease;
	height: 100%;
	position: relative;
}

.icon {
	margin-right: 10px;
}

.footer-icons > * {
	margin-right: 30px;
}
.linkedin-icon {
	margin: 0;
}

.mail-icon:hover {
	color: rgb(17, 106, 141);
}
.github-icon:hover {
	color: black;
}

.linkedin-icon:hover {
	color: rgb(26, 101, 212);
}

/* remnant from older version of this portfolio */
.even-styles {
	padding-bottom: 10px;
	padding-top: 10px;
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
}

.odd-styles {
	padding-bottom: 10px;
	padding-top: 10px;
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
}
/* end remnant */

#projects {
	padding: 50px 0;
}

.overlay-text {
	position: relative;
	top: -45vh;
	left: 7vw;
	opacity: 1;
	padding: 20px;
	width: 35vw;
	align-self: center;
}

.show-overlay {
	opacity: 0.3;
}

.show {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

@media (max-width: 750px) {
	body {
		font-size: 1rem;
	}
	h1 {
		font-size: 3.3rem;
	}
	h2 {
		font-size: 2.7rem;
	}
	h3 {
		font-size: 2.2rem;
	}
	.button-container {
		width: 90vw;
	}
	.image {
		max-width: 65vw;
	}

	.button-names {
		display: none;
	}

	/* .proj-title {
		width: 80vw;
	} */
}

@media (max-width: 550px) {
	/* .image {
		max-width: 80vw;
	} */
}
